<head>
    {% gtm head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="{{ site.description | smartify }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title | smartify }} - {{ site.title | smartify }}</title>
    <!--BEGIN-STYLESHEETS-->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- google font css link -->
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic|Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ site.url | replace:'http:','https:' }}{{ page.url | replace:'index.html',''}}">
    <!-- additional styles -->
    <link href="css/main.css" rel="stylesheet" media="screen">
    <link href="css/component.css" rel="stylesheet" media="screen">
    <link href="css/responsive.css" rel="stylesheet" media="screen">
    <style type="text/css">
        
    </style>
    <!-- Enable this css if you want to override styles-->
    <!--<link href="css/override.css" rel="stylesheet" media="screen">-->
    <!--END-OF-STYLESHEETS-->
    <!-- Favicon and Apple Icons -->
    <link rel="shortcut icon" href="img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/icons/apple-touch-icon.png">
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
</head>
