<!--BEGIN-SCRIPTS--> 
<script type="text/javascript" src="js/jquery.min.js"></script> 
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/toucheffects.js"></script> 

<!-- Change Custom JS file link to change color scheme or update Hex codes in current custom2.js -->  
<script type="text/javascript" src="js/custom1.js"></script>
<script type="text/javascript" src="js/voyage.js"></script> 
<script type="text/javascript" src="js/classie.js"></script> 
<script type="text/javascript" src="js/cbpScroller.js"></script> 
<!--END-OF-SCRIPTS-->