
    <!-- Top-->
    <nav class="navbar navbar-light static-top bg-light"  >
      <div class="container pt-4 pb-4">
         <a href="#" class="pull-left"><img src="/img/gdpr-logo.png" alt="Logo GDPR"></a> 
        	<a class="btn btn-primary" href="#">+39 334 78 68 890‬ </a>

      </div>
      <!--
      <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
      </div>
      -->
    </nav>