  <!--BEGIN-HEADER-->
  <section id="home" class="page-block head">
    <header id="top">
      <div class="container topnav"> 
      
        <!--BEGIN-TOP-BAR-->
        <div class="col-md-2 col-sm-12">
          <h2 class="brand">Florence Museum Tickets</h2>
        </div>
        <div class="col-md-10 col-sm-12 clearfix"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar navbar-default navbar-header" role="navigation">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navigation"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#">Navigation</a> </div>
          <nav>
            <ul id="Navigation" class="collapse navbar-collapse">
              <li><a href="/" title="Uffizi Gallery and florence museums">Home</a></li>
              <li><a href="/uffizi-gallery-history.html" title="Uffizi Gallery History">Uffizi Gallery History</a></li>
              <li><a href="/accademia-gallery.html" title="Accademia Gallery">Accademia Gallery</a></li>
              <li><a href="/florence-tours.html" title="Florence Tours">Florence Tours</a></li>
              <li><a href="/boboli.html" title="Boboli garden and Silver museum">Boboli garden and Silver museum</a></li>
            </ul>
          </nav>
        </div>
        <!--END-OF-TOP-BAR-->
         
      </div>
    </header>
    <!--end-of-top--> 