  <!--BEGIN-HEADER-->
  <section id="home" class="page-block head">
    <header id="top">
      <div class="container topnav"> 
      
        <!--BEGIN-TOP-BAR-->
        <div class="col-md-2 col-sm-12">
          <h2 class="brand">Florence Museum Tickets</h2>
        </div>
        <div class="col-md-10 col-sm-12 clearfix"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar navbar-default navbar-header" role="navigation">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navigation"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="#">Navigation</a> </div>
          <nav>
            <ul id="Navigation" class="collapse navbar-collapse">
              <li><a href="#facilities" title="Tour Inclusions">Tour Inclusions</a></li>
              <li><a href="#location" title="Weather Information &amp; Location Map">Weather &amp; Map</a></li>
              <li><a href="#itinerary" title="Itinerary">Itinerary</a></li>
              <li><a href="#imptips" title="Important Tips">Important Tips</a></li>
              <li><a href="#subscribe" title="Subscribe">Subscribe</a></li>
              <li><a href="#contact" title="Contact">Contact</a></li>
            </ul>
          </nav>
        </div>
        <!--END-OF-TOP-BAR-->
         
      </div>
    </header>
    <!--end-of-top--> 