   <!-- Area video -->
   
     <section class="features-icons bg-white pt-2 mt-4 pb-4">
      <div class="container ">       
       <h2 class=" pb-4 mb-8  pt-4  text-center" style="color:#0069d9">Non è mai troppo tardi per mettersi in regola col GDPR</h2>

        <div class="row pt-4 mt-2">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8">
            <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lyT-6TTF9Lc"></iframe>
		</div>
		<p>Avvocato Alessandro Bartolini<br/>
		Esperto Privacy di Consulenza-Privacy-GDPR.eu</p>
          </div>
           <div class="col-lg-2">
          </div>

          
        </div>
      </div>
    </section>